/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px #ddd;
    position: sticky;
    top: 0;
}

.navbar .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #ff6f61;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #444;
    font-size: 1rem;
    transition: 0.2s;
}

.navbar nav a:hover {
    color: #ff6f61;
}

.btn-login {
    background: #ff6f61;
    color: #fff !important;
    padding: 8px 16px;
    border-radius: 6px;
}

/* Banner */
.hero {
    height: 25vh;
    background: url("https://images.pexels.com/photos/5731866/pexels-photo-5731866.jpeg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    text-shadow: 0 2px 5px #000;
}

.hero h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.btn-cta {
    display: inline-block;
    padding: 12px 24px;
    background: #ff6f61;
    color: white;
    border-radius: 8px;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Categorias */
.categorias {
    padding: 40px;
    text-align: center;
}

.categorias h2 {
    font-size: 2rem;
    margin-bottom: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.card {
    background: #fff;
    width: 200px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 10px #ccc;
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 4px 15px #bbb;
}

.card img {
    width: 80px;
    margin-bottom: 10px;
}

.card h3 {
    font-size: 1.2rem;
}

/* Footer */
.footer {
    margin-top: 40px;
    background: #ff6f61;
    color: white;
    padding: 15px;
    text-align: center;
}

form {
    width: 350px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input, textarea, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 12px;
}
button:hover {
    background: #3e8e41;
}
